@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Hide scrollbar - Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar - IE/Old Edge */
* {
  -ms-overflow-style: none;
}